<!DOCTYPE html>
<html lang="en" ng-show="loggedIn">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="pages/home/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="pages/home/css/main.css">
    <link rel="stylesheet" type="text/css" href="pages/home/css/util.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px; max-height: 450px">
    <img class="w3-image" src="images/bg-home.jpg" alt="Me" width="1500" height="800">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">PARIS</h1>
    </div>
    <div class="w3-padding w3-display-bottommiddle w3-center">
        <h2 class="w3-hide-medium w3-hide-small" style="color: white; font-family: Poppins-SemiBold;">To explore the city</h2>
        <h2 class="w3-hide-medium w3-hide-small" style="color: white; font-family: Poppins-SemiBold;">first register or log in</h2>
        <a href="#!logIn" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-log-in"></span> Log In
        </a>
        <a href="#!register" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-user"></span> Register
        </a>
    </div>
</header>

<section id="about" class="section1">
    <div class="container-fluid bg-2 text-center" style="background-color: #333333">
        <br/>
        <br/>
        <div ng-repeat="item in points" class="col-sm-4">
            <div class="thumbnail">
                <img ng-src="{{ item.PICTURE }}" alt="Paris" width="350" height="200">
                <br/>
                <p><strong><a data-toggle="modal" data-target="#myModal"><span
                        ng-bind="item.NAME" ng-click="toShow(item.NAME)"></span></a></strong></p>
                <a ng-click="setCurrPoint(item.NAME)" ng-show="loggedIn" data-toggle="modal"
                   data-target="#reviewModal">
                    <span class="glyphicon glyphicon-pencil"></span> Review
                </a>
            </div>
        </div>
    </div>
</section>


</body>
</html>
